.main-header {
	margin-top: 30px;
}

.social-header {
	text-align: center;
	margin-top: 50px;
}

.author {
    font-weight: bold;
}

.content {
    margin-top: 50px;
}

.daftar-isi {
    margin-top: 50px;
    margin-bottom: 20px;
}

.daftar-isi ul li {
    margin-left: 15px;
    list-style: circle;
}

.paragraph {
    text-align: justify;
}

/* code styling ala github flavor*/
code {
    margin: 0 2px;
    padding: 0px 5px;
    border: 1px solid #ddd;
    background-color: #f8f8f8;
    border-radius: 3px;
}